
.my_tech{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

.separte_box :nth-child(1){
    width: 180px;
}
.separte_box :nth-child(2){
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: whitesmoke;
    font-weight: bolder;
}

.separte_box{
    border: 2px solid #915eff;
    box-shadow: 5px 5px 20px #5004f5 ;
    border-radius: 20%;
    margin-top: 30px;
    padding: 3px;
}

.separte_box:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: #310366;
    box-shadow: 5px 5px 20px #310366 ;
}


@media screen and (max-width: 500px) {
    .my_tech{
        text-align: center;
        align-items: center;
        color: red;
    }
  }
